.img {
  background-repeat: no-repeat;
  background: url(../images/i1.jpg);
  background-size: cover;
  height: 300px;
}
.img img {
  width: 100%;
}
@media all and (min-width: 500px) and (max-width: 1000px) {
  .img {
    background-repeat: no-repeat;
    background: url(../images/i1.jpg);
    background-size: cover;
  }
}

#img-1 {
  background: url(../images/i1.jpg);
}

#img-2 {
  background: url(../images/i2.jpg);
}

#img-3 {
  background: url(../images/i3.jpg);
}

.img img {
  width: 100%;
}

.img {
  color: #ffffff;
}

body {
  font-family: Nunito;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf");
}

p {
  font-size: 15px;
}

button.btn-outline-primary {
  font-size: 15px !important;
  border: 2px solid white !important;
  border-radius: 0;
}

.display-4 {
  font-size: 42 !important;
}

#jumbotron-two {
  background-color: white;
}

.btn-outline-primary {
  color: white;
  border-color: white;
}

.btn-info {
  border-radius: 0;
}

.col-md-6 p.text-justify {
  height: 100px;
}
